<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile *ngFor="let product of products">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
          <img mat-card-image class="img-card" src="{{product.img}}" alt="Photo product">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>{{product.link}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>     
</mat-grid-list>