<mat-toolbar color="primary">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput type="text" [(ngModel)]="textSearch" name="search">
    </mat-form-field>
  </form>
</mat-toolbar>

<form>
  <mat-form-field>
    <mat-select placeholder="Categories" [(ngModel)]="selectedValue" name="category">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div *ngFor="let product of products | filter:textSearch">
  <div *ngIf="selectedValue === 'All'">
    <mat-list>
      <mat-list-item>
        <h5 mat-line>{{product.name}}</h5>
        <mat-chip-list>
          <mat-chip color="primary" selected="true">{{product.price}}$</mat-chip>
          <mat-chip color="accent" selected="true">{{product.bsr_category}}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-list>
  </div>

  <div *ngIf="selectedValue  === product.bsr_category">
    <mat-list>
      <mat-list-item>
        <h5 mat-line>{{product.name}}</h5>
        <mat-chip-list>
          <mat-chip color="primary" selected="true">{{product.price}}$</mat-chip>
          <mat-chip color="accent" selected="true">{{product.bsr_category}}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-list>
  </div>
</div>
